.s9px {
    font-size: 9px;
}

.s10px {
    font-size: 10px;
}

.s12px {
    font-size: 12px;
}

.s14px {
    font-size: 14px;
}

.s16px {
    font-size: 16px;
}

.s20px {
    font-size: 20px;
}

.s24px {
    font-size: 24px;
}

.s28px {
    font-size: 28px;
}

.s34px {
    font-size: 34px;
}

.s40px {
    font-size: 40px;
}

.scursive{
    font-family: cursive;
}
.smonospace{
    font-family:monospace;
}
.sarial{
    font-family:arial;
}
.sserif{
    font-family:serif;
}
.sTimes{
    font-family:Times;
}
.sGeorgia{
    font-family:Georgia;
}
.sCourier{
    font-family:Courier;
}
.sCambria{
    font-family:Cambria;
}
.sTahoma{
    font-family:Tahoma;
}
.sCochin{
    font-family:Cochin;
}